*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:inherit;
    text-decoration: none;
    border-style: none;
    border: none;
    list-style: none;
}

body{
    width: 100%;
}

/* start header */

#main_header{
    padding-bottom: 150px;
    color: white;
    background-image: url(../../assets/background/dog.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#main_header, .header_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main_header .header_container{
    width: 50%;
}

#main_header .header_container h2, #main_header .header_container p{
    text-align: center;
    font-weight: 500;
}

#main_header .header_container h2 strong{
    font-weight: 700;
}

#main_header .header_container h2{
    font-size: 4.8vh;
}

#main_header .header_container p:last-child{
    font-size: 2em;
}

/* Add a horizontal line AFTER the H2 tag */
#main_header .header_container h2::after{ 
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: #F24812;
}

#main_header .header_container p{
    font-size: 2vh;
    line-height: 2.1vh;
}

#main_header .header_container .video_container{
    width: 98.4vh;
    height: auto;
    margin-top: 5.5vh;
    margin-bottom: 32px;
    border-radius: 10px;
    overflow: hidden;
}

#main_header .header_container .video_container video{
    background: #030303;
    width: 100%;
    height: 80%;
    padding: 0;
    margin-bottom: -7px;
}

#main_header .header_container .video_container .CTA{
    width: 100%;
    height: 20%;
    padding: 0;
    margin: 0;
}

#main_header .header_container .video_container .CTA button{
    font-size: 2vh;
    text-align: center;
    padding: 3.5vh 0;
    width: 100%;
    border-bottom: 3px solid #FFF;
    background: #F24812;
}

#main_header .header_container .video_container p{
    font-size: 3.8vh;
    font-weight: 600;
}
/* start Logo */
#main_header .logo{
    display: grid;
    row-gap: 0;
    grid-template-rows: 40px;
    grid-template-areas: 'logo''marca';
    width: 210px;
    margin: 64px 0;
    height: auto;
}

#main_header .logo .logo_container{
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 220px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #F24812;
}
#main_header .logo .logo_container h1{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 8px;
}
#main_header .logo .logo_container .logo_icon{
    position: relative;
    width: 100px;
    height: 100px;
    right: 20px;
}
#main_header .logo .logo_container .logo_icon img{
    height: 100%;
    width: auto;
}
#main_header .logo h2{
    grid-area: marca;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
}


/* end Logo */

/* end header */


/* primeira section destinada a argumentar a necessidade de uma adestração */
.first{
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: #F2F2F2;
}

.first .content{
    height: 660px;
    max-width: 1200px;
    padding: 8.8vh  13.3vh 32px 13.3vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "esquerda direita";
    column-gap: 32px;
    background-color: white;
}
.first .content .content_image{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: esquerda;
    height: 100%;
    width: 100%;
}

.first .content .content_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: direita;
    height: 100%;
    width: 100%;
}
.first .content .content_info h2{
    font-weight: 400;
    font-size: 16px;
}

.first .content .content_info p:nth-child(2){
    font-weight: 700;
}

.first .content .CTA{
    grid-area: direita;
}

.first .content .CTA button{
    font-weight: 500;
    font-size: 16px;
    border-radius: 50px;
    padding: 11px 54px 10px 54px;
    background: #F24812;
    color: white;
}

.first .content .CTA .White{
    background-color: white;
    font-weight: 600;
    padding: 10px 17px 9px 18px;
    margin-right: 20px;
    border: 2px solid #282828;
    color: #282828;
}

/* end first section */

/* segunda section destinada a informação do produto */

.second{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    height: auto;
    width: 100%;
}

.second .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.second .content .content_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.second .content .content_info h2{
    font-weight: 500;
    font-size: 48px;
    width: 595px;
    text-align: center;
    padding-bottom: 29px;
}

.second .content .content_info p{
    font-weight: 300;
    text-align: center;
    font-size: 16px;
    width: 595px;
    padding-bottom: 39px;
}

.second .content .tools{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.second .content .tools .tool{
    display: flex;
    align-items: center;
    justify-content: center;
}

.second .content .tools .tool .tool_image{
    width: 90px;
    height: 90px;
    border-radius: 1000px;
    border-bottom: 2px solid #F24812;
    background: #C8C8C8;
    margin-right: 25px;
}

.second .content .tools .tool .tool_info p{
    width: 211px;
    font-size: 16px;
    font-weight: 500;
}

.second .content .CTA{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    background: #282828;
    height: 40px;
    padding: 8px 43px 8px 47px;
}

.second .content .CTA button{
    background: #282828;
    color: #FFF;
    border-radius: 50px;
}

.second .content .CTA figure{
    padding-top: 5px;
}

/* end second section */