*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:inherit;
    text-decoration: none;
    border-style: none;
    border: none;
    list-style: none;
}

/* header */
#main_header{
    background-image: url(../../assets/background/dog.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 32px;
}

.logo, .logo_container, .header_container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo_container h1, .logo_container h2, .header_container h2, .header_container p, .header_container button{
    color: white;
}

.logo_container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100px;
    width: 300px;
    margin-top: 4.8vh;
    padding-right: 10px;
}

.logo_container h2{
    position: relative;
    top: -89px;
}

.border{
    font-size: 2.2vh;
    font-weight: 300;
    letter-spacing: 0.7vh;
    border-radius: 5.5vh;
    background: #F24812;
    padding: 0.2vh 1.7vh;
    margin-top: 6.6vh;
    text-transform: uppercase;
}

.icon{
    position: relative;
    height: 8.5vh;
    width: 8.5vh;
    top: -60px;
    right: -90px;
}

.icon img{
    height: 100%;
    width: auto;
}

.header_container h2, .header_container p{
    text-align: center;
    font-weight: 500;
}

.header_container h2 strong{
    font-weight: 700;
}

.header_container h2{
    margin-top: 8vh;
    width: 105.2vh;
    height: 26.7vh;
    font-size: 4.8vh;
}

/* Adiciona linha ahorizontal apos o H2 */
.header_container h2::after{ 
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: #F24812;
}

.header_container p{
    margin-top: 7.7vh;
    font-size: 2vh;
    line-height: 2.1vh;
    width: 98.4vh;
}

.video_container{
    width: 98.4vh;
    height: auto;
    margin-top: 5.5vh;
    border-radius: 10px;
    overflow: hidden;
    background-color: violet;
}

.video_container video{
    background: #030303;
    width: 100%;
    height: 80%;
    padding: 0;
    margin-bottom: -7px;
}

.video_container .CTA{
    width: 100%;
    height: 20%;
    padding: 0;
    margin: 0;
}

.CTA button{
    font-size: 2vh;
    text-align: center;
    padding: 3.5vh 0;
    width: 100%;
    border-bottom: 3px solid #FFF;
    background: #F24812;
}

.video_container p{
    margin: 3.5vh 0 16.7vh 0;
    font-size: 3.8vh;
    font-weight: 600;
}

/* section destinada a argumentar a necessidade de uma adestração */

.first{
    width: 100%;
}

.first .content{
    padding: 8.8vh 13.3vh;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
}